<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About João</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <div id="header">
        <img src="/images/peanut.jpeg" alt="">
        <div id="titles">
            <h1>João Elias</h1>
            <h4>The Peanut</h4>
        </div>
    </div>
    <main>
        <h2>About João</h2>
        <div id="section-1">
            <img src="/images/baby-joao.jpeg" alt="">
            <p>
                In his early days, Joao Elias was a young fireball of energy, fueled by an unwavering love for sausages of every imaginable kind. From savory chorizo to smoky bratwurst, Joao would venture on daring culinary quests, exploring the hidden gems of the sausage world. His friends often joked that he could sniff out sausages from miles away, like a canine on a scent mission. But don't let the sausage-loving fool you, for Joao was no ordinary enthusiast.
            </p>

        </div>
        <div id="section-2">
            <img src="/images/man-joao.jpeg" alt="">
            <p>
                In his adult years, Joao Elias remains an unapologetic sausage connoisseur, savoring every savory link with gusto. However, it's his audacious love for spicy peanuts that earned him a legendary nickname – "Peanuts." These fiery little treats became his fiery companions during class, transforming his desk into a hazardous zone that could rival a volcano. But Joao's fiery antics only add to his wit and charm, proving that a hint of mischief can spice up any life journey. So buckle up and embark on this flavor-filled adventure with "Peanuts" Elias, where sausages, spice, and a dash of danger create a recipe for a truly unforgettable story!
            </p>

        </div>
        <div id="button-box">
            <a href="/home">
            <button id="about-button">Home</button></a>
            
            <a href="/works">
            <button id="works-button">Works</button></a>
        </div>
    </main>
</body>
</html>