<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>João Elias Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <div id="header">
        <img src="/images/peanut.jpeg" alt="">
        <div id="titles">
            <h1>João Elias</h1>
            <h4>The Peanut</h4>
        </div>
    </div>
    <main>
        <h2>Homepage</h2>
        <hr>
        <p>
            Welcome to the world of Joao Elias - a man whose life revolves around three obsessions: gym, eating, and "meuSuper." If you thought these three things couldn't coexist in a single person's universe, think again! Joao has mastered the art of balancing his passion for pumping iron, indulging in delicious meals, and making daily trips to "meuSuper" – a love affair you'll soon understand.
        </p>
        <div id="button-box">
            <a href="/about">
            <button id="about-button">About João</button></a>
            
            <a href="/works">
            <button id="works-button">Works</button></a>
        </div>
    </main>
</body>
</html>