<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>João Elias' Works</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<body>
    <div id="header">
        <img src="/images/peanut.jpeg" alt="">
        <div id="titles">
            <h1>João Elias</h1>
            <h4>The Peanut</h4>
        </div>
    </div>
    <main>
        <h2>Works</h2>
        <div id="works-mother-container">
            <div id="works-child-container-1">
                <div class="work-text">
                    <h2>Peanut-Infused Culinary Delights:</h2>
                    <p> João's culinary genius knows no bounds when it comes to peanuts. He has crafted a whole repertoire of peanut-inspired dishes, from "Peanut Butter & Bacon Burgers" that defy expectations to "Peanut Pesto Pasta" that tantalizes taste buds. His peanut-infused creations have earned him the title of "Peanut Pioneer" in the gastronomic world.</p>
                </div>
                <div class="work-empty"></div>
                <div class="work-text">
                    <h2>Peanut-Powered Humanitarian Missions: </h2>
                    <p>João is not just about fun and games with peanuts; he's a true philanthropist with a nutty twist. He has orchestrated humanitarian missions to distribute peanut-based nutritious meals to underprivileged communities, earning him the endearing nickname "The Peanuts Provider." His efforts have significantly improved the lives of countless individuals, spreading the message that peanuts can be a force for good.</p>
                </div>
                <div class="work-empty"></div>
            </div>
            <div id="works-child-container-2">
                <div class="work-empty"></div>
                <div class="work-text">
                    <h2>Peanut Artistry: </h2>
                    <p>João's creativity has led him to explore peanut-based art, a concept that leaves everyone shell-shocked! He has crafted intricate peanut sculptures, from mini-peanut replicas of famous landmarks to detailed peanut portraits of historical figures. The art world has never seen anything quite like it, and his exhibits have drawn widespread acclaim as "The Nutty Art Extravaganza."</p>
                </div>
                <div class="work-empty"></div>
                <div class="work-text">
                    <h2>Peanut Language School: </h2>
                    <p>As an avid linguist, João has founded a Peanut Language School where people learn to communicate in an entirely peanut-based language. From nutty phrases to cracking the code of peanut dialects, students graduate with honors in "Peanut-ese," a language that leaves traditional linguists utterly bewildered.</p>
                </div>
            </div>
        </div>
        
        <div id="button-box">
            <a href="/about">
            <button id="about-button">About João</button></a>
            
            <a href="/home">
                <button id="works-button">Home</button></a>
        </div>
    </main>
</body>
</html>